<div class="fixed top-14 right-4 flex flex-col gap-3 items-center hidden">
  <div class="flex px-2 flex-col gap-5 justify-end">
    <div id="save-btn-container" class="flex justify-center items-center">
      <div
        class="mr-6 px-3 py-1 rounded-md bg-[#242424] h-fit border-[2px] border-[#4d4d4d] w-[150px] absolute text-xs font-semibold opacity-0 -translate-x-28 group-hover:opacity-80 transition-opacity ease-in"
      >
        <p class="text-white font-light">Save your art to the canvas.</p>
      </div>
      <button
        id="save-btn"
        class="shadow-sm transition-all opacity-25 cursor-not-allowed rounded-full shadow-black flex items-center justify-center z-10 w-14 h-14 bg-black text-white"
      >
        <p class="text-white font-thin text-4xl -translate-y-[2px]">+</p>
      </button>
    </div>
    <button
      id="undo-btn"
      class="shadow-sm transition-all opacity-25 cursor-not-allowed rounded-full shadow-black flex items-center justify-center z-10 w-14 h-14 bg-[#390fd1] text-white"
    >
      <i class="gg-undo text-lg"></i>
    </button>
  </div>
</div>
