<div
  id="chat-container"
  class="flex flex-col items-center w-full h-full rounded-md bg-[#1d1d1d] shadow-black shadow-md p-[5%]"
>
  <div class="flex justify-between items-center w-full pl-2 py-[1%]">
    <h1
      class="text-[#d6d6d6] text-sm mb-2 min-w-fit font-light 2xl:text-lg 3xl:text-xl 4xl:text-2xl 5xl:text-3xl"
    >
      Live Chat
    </h1>

    <div class="flex text-sm items-start justify-between min-w-[130px] px-2">
      <h3
        class="text-[#d6d6d6] mb-2 font-light 2xl:text-lg 3xl:text-xl 4xl:text-2xl 5xl:text-3xl"
      >
        Artists online:
      </h3>
      <h3
        id="artists-online"
        class="text-lime-500 ml-2 font-light 2xl:text-lg 3xl:text-xl 4xl:text-2xl 5xl:text-3xl"
      ></h3>
    </div>
  </div>
  <div
    id="chat-log"
    class="w-full overflow-y-auto py-[2%] px-[1%] border-[1px] border-[#333] rounded-lg bg-[#000000] h-[90%] flex flex-col-reverse"
  ></div>
  <form
    id="chat-form"
    action=""
    class="w-full h-[10%] flex items-start justify-center"
  >
    <input
      type="text"
      placeholder="Chat..."
      id="chat-input"
      class="bg-[#2c2c2c] text-sm 2xl:text-base 3xl:text-lg 4xl:text-3xl 5xl:text-4xl pl-4 text-[#e3e3e3] font-light w-full mt-4 h-[45%] shadow-sm rounded-full"
    />
  </form>
</div>
